<% if logged_in? %>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">

			<div class="tag-lineup center">
				<!--
				<h1>Hot tags</h1>
				<%# <% @tags = ActsAsTaggableOn::Tag.most_used(5) %> %>
				<%# <% @tags.each do |tag| %> %>
					<span class="label label-primary"><%= tag %></span>
				<%# <% end %> %>
				-->


			</div>


			<% @teams.each do |team| %>
			<h1 class="teamname" id=<%= team.name %>>
					<%= team.name.upcase %> (<%= team.employees.count %>)
			</h1>
			<div class="team-lineup">

				<% team.team_employees.each do |team_employee| %>
					<% @employee = team_employee.employee %>
					<%= render 'photo' %>
				<% end %>

			</div>
			<% end %>

		</div>

	</div>
</div>

<% else %>
<div class="center jumbotron">
  <h1>Welcome. </h1>
  <h2>Sign up to know more about your colleagues.</h2>
  <%= link_to "Sign up! ", signup_path, class: "btn btn-lg btn-primary" %>
</div>
<% end %>
