<% provide(:title, "Log in") %>
<div class="container-fluid">
			<div class="row">
				<div class="col-md-3">
				</div>

				<div class="col-md-6">
          <%= form_for(:session, url: login_path) do |e| %>

						<%= e.label :email %>
						<%= e.email_field :email, placeholder: "@wamazing.jp only", class: 'form-control' %>

						<%= e.label :password %>
						<%= link_to "(forgot password)", new_password_reset_path %>
						<%= e.password_field :password, placeholder: "Password here", class: 'form-control' %>

						<%= e.label :remember_me, class: "checkbox inline" do %>
						<%= e.check_box :remember_me %>
						<span>Remeber me on this computer</span>
						<% end %>
						<%= e.submit "Log in", class: "btn btn-primary" %>
            <% end %>
            <p>New user? <%= link_to "Sign up here" , signup_path %></p>
				</div>

				<div class="col-md-3">
				</div>
			</div>
</div>
