<% employee ||= current_employee %>

<div class="card-container">

<div class="col-md-5 photocard">
			<div class="col-sm-6 photocard-photo">
        <%= image_tag(employee.photo) %>
			</div>
			<div class="col-sm-6 photocard-info">
        <%= link_to(employee) do %>

        <h2><%= employee.name %></h2>

        <h3><%= employee.position %></h3>
        <h3>
          <% employee.teams.each do |team| %>
            <%= team.name %>
          <% end %>
        </h3>

        <% end %>
        <%# Tag list %>
        <% @employee = employee %>
        <%= render 'shared/tags' %>
       </div>


			 </div>

</div>
