<% employee ||= current_employee %>

<%= link_to(employee) do %>

<div class="col-md-5 photocard">
  
			<div class="col-sm-6 photocard-photo">
        <%= image_tag(employee.photo) %>
			</div>
			<div class="col-sm-6">

        <h2><%= employee.name %></h2>

        <h3><%= employee.position %></h3>
        <h3>
          <% employee.teams.each do |team| %>
            <%= team.name %>
          <% end %>
        </h3>
       </div>
</div>
<% end %>
