<%= image_tag(@employee.photo, size: '200') %>

<%= form_for(@employee) do |e| %>
<%= render 'shared/error_messages' %>
  <span class="photo">
  <%= e.file_field :photo, accept: 'image/jpeg, image/gif, image/png' %>
  </span>

  <%= e.label :name %>
  <%= e.text_field :name, placeholder: "Name", class: 'form-control' %>


  <%= e.label :team %>
  <% unless @team_employee.nil? %>
    <% @team_employee.each do %>
    <%= e.select :team_ids, options_for_select([[ "Yado", 1 ],
                                            [ "Snow", 2 ],
                                            [ "Ticket", 3 ],
                                            [ "Shopping", 4 ]], selected: @employee.team_ids),
                                            class: 'form-control' %>

    <% end %>
  <% end %>

  <%= e.label :position %>
  <%= e.select :position, options_for_select( [["Translator"],
                                              ["Customer Support"],
                                              ["Project Manager"],
                                              ["Engineer"],["Marketing"]], selected: @employee.position),
                                              class: 'form-control' %>
  <%= e.label :employed_at %>
  <%= e.date_select :employed_at, discard_day: true, default: 1.year.ago, class: 'form-control' %>

  <%= e.label :tags, "タグ（カンマ区切り）" %>
  <%= e.text_field :tag_list, value: @employee.tag_list.join(','), data: { role: "tagsinput" }, class: "form-control" %>

  <%= e.submit "Update my profile", class: "btn btn-primary" %>
  <% end %>
