<% provide(:title, "Sign up") %>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-3">
				</div>
				<div class="col-md-6">
          <%= form_for(@employee, url: signup_path) do |e| %>
					<%= render 'shared/error_messages' %>
						<%= e.label :name %>
						<%= e.text_field :name, placeholder: "Name", class: 'form-control' %>

						<%= e.label :email %>
						<%= e.email_field :email, placeholder: "@wamazing.jp only", class: 'form-control' %>

						<%= e.label :password %>
						<%= e.password_field :password, placeholder: "At least 8 characters", class: 'form-control' %>

						<%= e.label :password_confirmation, "Confirmation your password" %>
						<%= e.password_field :password_confirmation, placeholder: "At least 8 characters", class: 'form-control' %>

						<%= e.submit "Create my account", class: "btn btn-primary" %>
            <% end %>
				</div>

				<div class="col-md-3">
				</div>
			</div>
		</div>
	</div>
</div>
