<% provide(:title, "Search Result") %>
<div class="container-fluid center">
	<h1><%= pluralize(@employees.count, 'Employee') %></h1>
  <h3>Searching for "<%= params[:search] %>"</h3>
  <%= will_paginate %>

		<div class="employee-lineup">
			<div class="row">
        <%= render @employees %>
				</div>
		</div>

  <%= will_paginate %>
</div>
