<% @employee ||= current_employee %>
<table class = table>
  <tbody>
    <tr>
      <th scope="row">Email</th>
      <td><%= @employee.email %></td>
    </tr>

    <tr>
      <th scope="row">Team</th>
      <td>
        <% @teams.each do |team| %>
          <%= team.name %>
        <% end %>
      </td>
    </tr>

    <tr>
      <th scope="row">Position</th>
      <td><%= @employee.position %></td>
    </tr>

    <tr>
      <th scope="row">Employed At</th>
      <td>
      <% unless @employee.employed_at.nil? %>
      <%= @employee.employed_at.year.to_s + "年" +  @employee.employed_at.month.to_s + "月"%>
      <% end %>
      </td>
    </tr>
    <tr>
      <th scope="row">KIBELA</th>
      <td>kibela url</td>
    </tr>
  </tbody>
</table>
<div class="right">
<% if current_employee.admin? && !current_employee?(@employee) %>
  <%= link_to "Delete Account", @employee, method: :delete,
                        data: { confirm: "Are you sure to delete this employee? " },
                        class: "btn btn-sm btn-danger" %>
<% end %>
</div>
